*~
.DS_Store
/Code/options.inc
/composer.json
/composer.lock
/conf
/devel/d3/d3.js
/devel/d3/d3-hotcrp.min.js
/devel/d3/node_modules
/docs
/filestore
/logs
/node_modules
/package-lock.json
/test/localoptions.php
/test/oauth/vendor
/test/oauth/auths.json
/test/oauth/servertest-state.json
/test/oauth/composer.lock
/vendor
