*~
/Code/options.inc
/composer.json
/composer.lock
/conf
/devel/d3/d3.js
/devel/d3/d3-hotcrp.min.js
/devel/d3/node_modules
/devel/hotcrp-daemonize
/docs
/filestore
/logs
/node_modules
/package-lock.json
/vendor
