/* page background */
body {
	font-family: sans-serif;
	color: black;
	background: #f3ebd5; /*#ccc3ab;*/
	margin: 0px;
}


/* header */
div#header {
	padding: 8px 12px 0px 12px;
}
div#header_user {
	font-size: small;
	padding: 0.25em 0em 0em 0em;
	float: right;
}
div#header_left {
	font-size: small;
	float: left;
	margin-right: 5%;
	margin-bottom: 0em;
}
h1 {
	display: inline;
	font-size: x-large;
	margin: 0em;
}
div.nvubar {
	margin: 0px 12px;
	height: 0.75em;
	border-bottom: 1px solid #9999cc;
}
table.vubar {
	padding: 0px 12px;
	position: relative;
	width: 100%;
	font-size: small;
}
table.vubar td {
	vertical-align: bottom;
}
table.vubar td.sep, table.vubar td.tab, table.vubar td.tab_disabled, 
table.vubar td.spanner, table.vubar td.gopaper, table.vubar td.listlinks {
	border-bottom: 1px solid #9999cc;
}
table.vubar td.tab, table.vubar td.tab_disabled {
	background: #e6dcc1;
}
table.vubar td.sep {
	padding: 0em 0.75em;
}
table.vubar td.sep:first-child {
	padding: 0em 0.5em;
}
td.spanner {
	width: 100%;
}
table.vubar .tab, table.vubar .tab_disabled, table.vubar .tab_default {
	padding: 0em 1em 0.1em 1em;
}
table.vubar td.gopaper, table.vubar td.listlinks {
	vertical-align: middle;
	padding: 4px 0.5em;
}
table.vubar td {
	min-height: 4px;
}
table.vubar .tab_default {
	background: white;
	border-top: 1px solid #9999cc;
	border-left: 1px solid #9999cc;
	border-right: 1px solid #9999cc;
	border-bottom: 1px solid white;
}
.tab_default a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.tab a, td.listlinks a, div#header_left a {
	text-decoration: none;
}
.tab a:hover, td.listlinks a:hover, div#header_left a:hover {
	text-decoration: underline;
}


/* body */
div.body {
	padding: 2px 8px;
	margin: 0px 12px;
	background-color: white;
	border-right: 1px solid #9999cc;
	border-left: 1px solid #9999cc;
	border-bottom: 1px solid #9999cc;
}
div.bodyexpander {
	margin: -2px -8px;
}


/* general */
table, tr, td {
	padding: 0px;
	border-spacing: 0px;
	empty-cells: show;
}


.clear {
	clear: both;
}
div.clear, div.min {
	margin: 0em;
}
form {
	display: inline;
}
div.inform {
	margin: 0em;
	display: inline;
}


/* footer */
div#footer {
	margin-top: 0.5em;
	padding: 0em 12px;
}
div#footer_crp {
	float: right;
	font-size: small;
}


/* infoboxes */
div.info, div.warning, div.confirm, div.error {
	background: #eeeeff url(images/info45.png) 10px 10px no-repeat;
	padding: 0.5em 0.5em 0.5em 65px;
	border: 1px solid #ccccee;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	min-height: 45px;
}
div.help {
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #cccccc;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	max-width: 100em;
	background: #f8f8f8;
}
div.error {
	background: #ffeeee url(images/stophand45.png) 10px 10px no-repeat;
	border: 1px solid #eecccc;
}
div.confirm {
	background: #eeffee url(images/info45.png) 10px 10px no-repeat;
	border: 1px solid #cceecc;
}
div.error p:first-child, div.info p:first-child, div.warning p:first-child, div.confirm p:first-child, div.help p:first-child {
	margin-top: 0em;
}
div.error p, div.info p, div.warning p, div.confirm p, div.help p {
	margin-top: 0.75em;
	margin-bottom: 0em;
}

input, button, textarea, select {
	font-family: sans-serif;
}
input.button, button, a.button {
	background: #ffffbb;
	border-top: 1px solid #eeee66;
	border-left: 2px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 2px solid #999966;
	padding: 0px 6px 0px 6px;
	/*margin: 3px 0px;*/
	text-decoration: none;
	color: black;
	white-space: nowrap;
}
input.button_default, button.button_default {
	font-size: large;
	background: #ffff99;
	border-top: 1px solid #eeee66;
	border-left: 2px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 2px solid #999966;
	margin: 3px 0px;
	white-space: nowrap;
}
form {
	margin-bottom: 0px;
}


div.tinygap {
	padding: 0.175em 0em;
}
div.smgap {
	padding: 0.375em 0em;
}


a img {
	border: none;
}

span.topic0 {
	color: grey;
	text-decoration: line-through;
}
span.topic2 {
	font-weight: bold;
}


/* Main */
table.half {
	width: 100%;
}
table.half tr td.l {
	width: 50%;
	padding-right: 0.5em;
}
table.half tr td.r {
	width: 50%;
	padding-left: 0.5em;
}
div.bgrp {
	margin: 0.5em 0em;
	background: #eff1ff;
}
div.bgrp div.bgrp_head {
	background: #d8deff;
	padding: 2px 6px;
	font-weight: bold;
}
div.bgrp div.bgrp_body {
	padding: 4px 6px;
	border: 2px solid #d8deff;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}


/* gopaper form */
div.gopaper {
	float: right;
	margin-bottom: 0em;
}
form.gopaper input.button_default, form.gopaper input.textlite {
	font-size: small;
}
form.gopaper input.button_default {
	padding: 0px;
	border-top: 1px solid #eeee66;
	border-left: 2px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 2px solid #999966;
	margin: 0px 0px;
}


input.button_alert {
	font-weight: bold;
	background: #ffaaaa;
	border-top: 2px solid #ee6666;
	border-left: 3px solid #ee6666;
	border-bottom: 2px solid #996666;
	border-right: 3px solid #996666;
}
a.download, a.rev_start, a.rev_comp, a.rev_edit, a.rev_view,
input.button_small, a.button_small, button.button_small {
	font-size: small;
	padding: 1px 0.25em;
	background: #ffffbb;
	border-top: 1px solid #eeee66;
	border-left: 2px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 2px solid #999966;
	text-decoration: none;
	color: black;
	white-space: nowrap;
}
a.button_small {
	vertical-align: 1px;
}
a.small {
	font-size: small;
}
a.foldbutton, a.foldbutton_tiny {
	font-size: small;
	font-weight: normal;
	padding: 0px 0.25em;
	text-decoration: none;
	color: black;
	margin: 3px 0px;
	background: #ffffdd;
	border-top: 1px solid #eeee66;
	border-left: 1px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 1px solid #999966;
}
a.foldbutton {
	font-size: small;
}
a.foldbutton_tiny {
	font-size: xx-small;
	vertical-align: 3px;
}
td.caption a.foldbutton {
	background: #fff0e0;
	border-top: 1px solid #eecc66;
	border-left: 1px solid #eecc66;
	border-bottom: 1px solid #999966;
	border-right: 1px solid #999966;
}
div.bgrp_head a.foldbutton {
	background: #ececff; /*#c6cdf8;*/
	border-top: 1px solid #ccccff;
	border-left: 1px solid #ccccff;
	border-bottom: 1px solid #666699;
	border-right: 1px solid #666699;
}
a.rev_past {
	font-size: small;
	font-weight: bold;
	padding: 1px 0.25em;
	background: #ffaaaa;
	border-top: 1px solid #ee6666;
	border-left: 2px solid #ee6666;
	border-bottom: 1px solid #996666;
	border-right: 2px solid #996666;
	text-decoration: none;
	color: black;
	margin: 3px 0px;
}
span.author, span.conflict {
	font-weight: bold;
	color: #ff0000;
}



/* Captions and entries */
table.paper, table.review, table.comment, table.assign {
	width: 100%;
}
tr, textarea, select {
	vertical-align: baseline;
}
tr td.textarea {
	vertical-align: top;
}
td.rcaption {
	text-align: right;
	padding: 3px 0.5em 3px 0em;
	font-weight: bold;
}
td.xcaption {
	text-align: right;
	padding: 3px 0.5em 3px 0em;
}
td.srcaption {
	text-align: right;
	padding: 3px 0.75em 3px 0.75em;
	font-weight: bold;
}
td.slcaption {
	padding: 3px 0.75em 3px 0.75em;
	font-weight: bold;
}
td.sentry {
	padding: 3px 0.75em 3px 0.75em;
}
td.caption {
	text-align: right;
	padding: 3px 0.5em 3px 4px;
	font-weight: bold;
	width: 11em;
	border-right: 1px solid #9999cc; /* #cc9900 */
	background: #fffdf0;
	color: #555555;
}
tr.id td.caption {
	border-bottom: 1px solid #9999cc;
	border-right: none;
	background: white;
	color: black;
}
table.comment tr.id td.entry, table.review tr.id td.entry {
	font-size: small;
}
table.review, table.comment {
	border-top: 1px solid #9999cc;
	padding-top: 10px;
}
td.leftentry {
	width: 15em;
}
td.entry, th.entry {
	padding: 3px 1em 3px 0.5em;
}
td.error, td.error input {
	font-weight: bold;
	color: #ff0000;
}
td.hint {
	padding-left: 0.5em;
	font-size: small;
}
div#aumg td.hint, table.paper td.hint, table.review td.hint, table.comment td.hint, table.assign td.hint, table.setreviewform td.hint {
	width: 25%;
}
td h2, td h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
td.caption span.hint {
	font-weight: normal;
	font-size: small;
}


/* home page */
h4:first-child {
	margin-top: 0px;
}
h4 {
	margin-bottom: 0.5em;
}
ul.compact {
	margin-top: 0.5em;
	margin-bottom: 0em;
	padding-left: 1em;
}
div.bgrp_body table.half:first-child ul {
	margin-top: 0em;
}


tr.pcrow td {
	padding-top: 2px;
}
td.pc_name, td.pc_email, td.pc_aff, td.pc_chairbox, td.pc_assbox {
	padding-right: 0.5em;
}
tr.removed td {
	text-decoration: line-through;
}
tr.removed td.pc_action {
	text-decoration: none;
}
td.pc_chairbox, td.pc_assbox {
	text-align: center;
}
table.memberlist td.pl_callout {
	font-size: small;
}

td.datename, td.datename_error, td.pad {
	padding-right: 1em;
}
td.datename_error, span.error {
	color: #ff0000;
}
td.datedesc {
	font-size: small;
	padding-left: 2em;
}
table.daterange {
}

span.textlite {
	border: solid 1px #aaaadd;
	padding: 0px 4px;
	background: #fcfcfc;
}
input.textlite, textarea {
	border: solid 1px #aaaadd;
	padding: 0px 0px 0px 4px;
	background: #fcfcfc;
}
input.textlite.tt, textarea.tt {
	font-family: monospace;
	white-space: nowrap;
}

select {
	border: solid 1px #aaaadd;
}

div.prevpaperlink {
	float: left;
	margin: 0em;
}
div.nextpaperlink {
	float: right;
	margin: 0em;
}

h2 {
	margin-top: 0em;
}

table.auview td.entry {
	padding-right: 0em;
}
table.auview td.caption {
	padding-left: 0.25em;
	width: auto;
}
td.entry form {
	padding-right: 0.5em;
}
td.entry button {
	margin-right: 0.5em;
}
td.entry textarea {
	width: 100%;
}
tr.pt_actions td, tr.pt_outcome td, td.nowrap, th.nowrap {
	white-space: nowrap;
}
tr.pt_abstract td.entry {
	font-size: 85%;
}
tr.pt_paper input {
	margin-top: 4px;
}
div#paper_reviews span.pstat, tr.pt_status span.pstat {
	margin-right: 1em;
}
pre.entryexample {
	padding: 0.5em;
	background: #eeeeee;
}

table.rpad tr td {
	padding-right: 2em;
}

tr#topicinterest td.caption, tr#topicinterest td.hint {
	padding-top: 1.3em;
}
tr#topicinterest td#topicinterest, tr.pt_topics td.entry, tr.pt_actions td,
td.plholder, tr.rev_actions td.entry, tr.pt_reviews td.entry,
tr.rev_reviewers td.entry, tr.rev_reviewers_hdr td.entry,
tr.pt_conflict_ass td.entry {
	vertical-align: top;
}
table.pcass td.colmid {
	border-left: 1px dotted #cc9900;
	padding-left: 0.5em;
	vertical-align: top;
}
table.pcass td.name-1, table.pcass td.name0, table.pcass td.name1,
table.pcass td.name3, table.pcass td.name4 {
	padding-right: 1em;
}
table.pcass td.name-1 {
	color: grey;
}
table.pcass td.name3, table.pcass td.name4 {
	font-weight: bold;
}
table.pcass td.ass {
	padding-right: 0.45em;
	text-align: right;
	font-size: small;
}
table.pcass td.nrev {
	font-size: small;
	padding-bottom: 2px;
	padding-right: 0.65em;
}

tr.rev_reviewers_hdr td.entry {
	padding: 1px 1em 3px 0.5em;
}
table.topicinterest tr td.ti_interest, table.topicinterest tr th {
	padding-right: 1px;
	white-space: nowrap;
	font-size: small;
	text-align: center;
}
table.topicinterest tr td.ti_topic {
	padding-right: 0.5em;
}
table.reviewers td {
	padding-right: 1em;
}
table.reviewers th {
	font-size: small;
	padding: 0em 0.25em;
}
table.reviewers td.highlight {
	padding-right: 0.25em;
}
table.reviewers td.revscore {
	padding-right: 0em;
	text-align: center;
	font-weight: bold;
	color: red;
}
table.reviewers td.rs_id, table.reviewscores td.rs_num {
	text-align: left;
}
table.reviewers td.revnotes {
	padding-top: 0.5em;
}
table.reviewers td.empty {
	padding: 0em 0em;
}


span.pstat {
	font-weight: bold;
}
tr.rs_heading td {
	font-size: small;
	font-weight: bold;
}
tr.rs_rev td.rs_id, tr.rs_rev td.rs_num {
	font-weight: normal;
	color: black;
}
tr.rs_rev td {
	font-weight: bold;
	color: red;
}
span.pstat_with {
	color: #333333;
}
span.pstat_sub {
	color: #007700;
}

table.pt_buttons td.ptb_explain {
	padding: 0px 1em 0px 0px;
	text-align: center;
	font-size: small;
}
table.pt_buttons td.ptb_button {
	padding: 0px 1em 0px 0px;
}

div.searchresult {
	padding: 0.75em 0.75em;
}
div.searchresult table.pltable {
	width: 100%;
}
table.pltable th, table.setreviewform th, table.memberlist th {
	text-align: left;
        padding-right: 0.25em;
	vertical-align: bottom;
}
.pl_title, .pl_reviewer, .pl_status {
	padding-right: 1em;
}
table.pltable th.pl_id, table.pltable th.pl_topicMatch, 
.pl_reviewerTypeIcon, .pl_optOverallMeritIcon {
	text-align: center;
	padding-right: 0em;
}
.pl_reviewsStatus {
	text-align: center;
	padding-right: 0.2em;
}
td.pl_id, td.pl_selector, td.pl_topicMatch, td.pl_reviewPreference,
td.pl_desirability, td.pl_download {
	text-align: right;
	padding-right: 0.4em;
}
td.mcaption {
	text-align: right;
	padding-right: 1em;
}
td.pl_download {
	vertical-align: middle;
}
td.pl_title img {
	vertical-align: text-bottom;
}
td.pl_callout {
	padding-left: 4em;
}
span.pl_callouthdr {
	font-style: italic;
	padding-right: 0.5em;
}
span.pl_callouthdr:after {
	content: ":";
}
tr.pl td {
	padding-top: 2px;
	padding-bottom: 2px;
}
tr.pl_headrow td, tr.pl_headrow th, table.setreviewform th, table.memberlist th {
	border-bottom: 1px solid #999999;
	font-size: small;
}
tr.pl_footrow td {
	padding-top: 3px;
}
tr.pl_headgap td {
	padding-top: 2px;
}
tr.pl_footgap td {
	padding-top: 3px;
	border-bottom: 1px solid #9999cc;
}
table.plt_reviewerHome tr.pl_headrow th {
	border-bottom: none;
	font-size: small;
}

span.match {
	color: #ff6600;
	font-weight: bold;
}

div.error div.parseerr p, div.confirm div.parseerr p {
	margin: 0px;
	padding: 0px 0px 0px 3em;
	text-indent: -3em;
}

div.error pre {
	padding: 0.5em;
	background: #fff2f2;
	border: 1px dashed #eecccc;
}

hr {
	margin: 0.75em 0em;
	border: none;
	border-top: 1px solid #cc9900;
}
hr.smgap {
	margin: 0.25em 0em;
	border: none;
}
table.review input#downloadForm {
	margin-right: 3em;
}

div#review table.revtop {
	width: 60%;
	float: left;
}
div#review table.auview {
	background: #f5f5ff;
	padding: 10px;
	border: 1px solid #ccccff;
	margin-top: 0.5em;
	width: 40%;
	float: left;
	margin-bottom: 0.75em;
}

div#assignpc div.topicinterest {
	margin-left: 3em;
}

span.nowrap {
	white-space: nowrap;
}
span.autblentry {
	margin-right: 0.75em;
	white-space: nowrap;
}
span.autblentry_long {
	margin-right: 0.75em;
}

div.plist_form {
	margin-top: 1ex;
}


span.rev_num {
	font-size: large;
	font-weight: bold;
	color: red;
}

span.sep, span.reviewer, span.reviewstatus {
	padding-right: 1em;
}
span.lgsep {
	padding-right: 2em;
}
span.rstat {
	font-size: smaller;
}

td.setrev_shortName {
	padding-right: 0.25em;
}
td.setrev_shortName input {
	font-weight: bold;
}

a.pl_sort {
	color: black;
}
a.pl_sort_def {
	padding-right: 12px;
	background: url("images/sortdown.png") 100% 75% no-repeat;
	text-decoration: none;
	color: #660000;
}
a.pl_sort_def_rev {
	padding-right: 12px;
	background: url("images/sortup.png") 100% 75% no-repeat;
	text-decoration: none;
	color: #660000;
}

tr.k1 td {
	background: #f0f0ff;
}

.folded .extension, .folded .folder, .unfolded .ellipsis, .unfolded .unfolder {
	display: none;
}
.fold1ed .extension1, .fold1ed .folder1, .unfold1ed .ellipsis1, .unfold1ed .unfolder1 {
	display: none;
}

div.popupdialog {
	border: 3px solid red;
	padding: 0.5em;
	background: #fff2f2;
	position: absolute;
	top: -4em;
	left: 0%;
	min-width: 15em;
	z-index: 2;
}
div.popupdialog .unpopup {
	position: absolute;
	top: 0%;
	right: 0%;
	margin-top: 0px;
}
div.popupdialog p:first-child {
	margin-top: 0px;
}

div#offrev td#upload {
	padding-left: 3em;
}

span.contactpulldown {
	position: absolute;
}
span.contactpulldown select {
	vertical-align: top;
}

table.advsearch {
	margin: 0px auto;
	text-align: left;
}
table.advsearch tr td.advsearch {
	background: #f0f9fd;
	margin: 1ex 0em;
	padding: 3px 5px;
}

p.page {
	page-break-after: always;
}
