.mstheme
{
	separator-image: url(modrule.gif);
	list-image-1: url(modbul1.gif);
	list-image-2: url(modbul2.gif);
	list-image-3: url(modbul3.gif);
	nav-banner-image: url(modbanr.gif);
	navbutton-horiz-normal: url(modhbtn.gif);
	navbutton-horiz-hovered: url(modhbtn.gif);
	navbutton-horiz-pushed: url(modhsel.gif);
	navbutton-vert-normal: url(modvbtn.gif);
	navbutton-vert-hovered: url(modvbtn.gif);
	navbutton-vert-pushed: url(modvsel.gif);
	navbutton-home-normal: url(modhom.gif);
	navbutton-home-hovered: url(modhom.gif);
	navbutton-home-pushed: url(modhom.gif);
	navbutton-next-normal: url(modnxt.gif);
	navbutton-next-hovered: url(modnxt.gif);
	navbutton-next-pushed: url(modnxt.gif);
	navbutton-prev-normal: url(modbck.gif);
	navbutton-prev-hovered: url(modbck.gif);
	navbutton-prev-pushed: url(modbck.gif);
	navbutton-up-normal: url(modup.gif);
	navbutton-up-hovered: url(modup.gif);
	navbutton-up-pushed: url(modup.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(modbul1.gif);
}
ul ul
{
	list-style-image: url(modbul2.gif);
}
ul ul ul
{
	list-style-image: url(modbul3.gif);
}
