.mstheme
{
	separator-image: url(amodrule.gif);
	list-image-1: url(amodbul1.gif);
	list-image-2: url(amodbul2.gif);
	list-image-3: url(amodbul3.gif);
	nav-banner-image: url(amodbanr.gif);
	navbutton-horiz-normal: url(amodhbtn.gif);
	navbutton-horiz-hovered: url(amodhhov.gif);
	navbutton-horiz-pushed: url(amodhsel.gif);
	navbutton-vert-normal: url(amodvbtn.gif);
	navbutton-vert-hovered: url(amodvhov.gif);
	navbutton-vert-pushed: url(amodvsel.gif);
	navbutton-home-normal: url(amodhom.gif);
	navbutton-home-hovered: url(amodhomh.gif);
	navbutton-home-pushed: url(amodhom.gif);
	navbutton-next-normal: url(amodnxt.gif);
	navbutton-next-hovered: url(amodnxth.gif);
	navbutton-next-pushed: url(amodnxt.gif);
	navbutton-prev-normal: url(amodbck.gif);
	navbutton-prev-hovered: url(amodbckh.gif);
	navbutton-prev-pushed: url(amodbck.gif);
	navbutton-up-normal: url(amodup.gif);
	navbutton-up-hovered: url(amoduph.gif);
	navbutton-up-pushed: url(amodup.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(amodbul1.gif);
}
ul ul
{
	list-style-image: url(amodbul2.gif);
}
ul ul ul
{
	list-style-image: url(amodbul3.gif);
}
