body {
	font-family: sans-serif;
}

div.clear {
	clear: both;
	margin: 0em;
}

div#header {
	background: #ffff00;
	padding: 1em;
	border-bottom: 0.5em solid #CC9900;
	margin-bottom: 0.5em;
}
div#header_conference {
	margin-bottom: 0em;
}
h1 {
	margin-top: 0em;
	margin-bottom: 0em;
}
div#header_date {
	margin-top: 0em;
}
div#header_links {
	float: right;
	margin-right: 5%;
}
div#header_left {
	float: left;
	margin-right: 5%;
}

div#footer {
	margin-top: 0.5em;
	padding: 0.2em 0.5em;
	border: 1px solid #ccccff;
}
div#footer_conference, div#footer_logout {
	margin-bottom: 0em;
	display: inline;
}
div#footer_logout {
	margin-left: 1em;
	padding-left: 1.1em;
	border-left: 1px solid #ccccff;
}
div#footer_right {
	float: right;
}
div#footer_left {
	float: left;
	margin-right: 5%;
}
div#footer_crp {
	font-size: small;
	margin-top: 3px;
}

div#body {
}

div.info, div.warning, div.confirm, div.error {
	background: #eeeeff url(../images/info45.png) 10px 10px no-repeat;
	padding: 0.5em 0.5em 0.5em 65px;
	border: 1px solid #ccccee;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	min-height: 45px;
}
div.error {
	background: #ffeeee url(../images/stophand45.png) 10px 10px no-repeat;
	border: 1px solid #eecccc;
}
div.confirm {
	background: #eeffee url(../images/info45.png) 10px 10px no-repeat;
	border: 1px solid #cceecc;
}

input, button, textarea {
	font-family: sans-serif;
}
textarea {
	vertical-align: baseline;
}
input.button, button {
	background: #ffffee;
	border-top: 2px solid #eeeedd;
	border-left: 3px solid #eeeedd;
	border-bottom: 2px solid #999966;
	border-right: 3px solid #999966;
}
input.button_default {
	font-size: large;
	background: #ffff99;
	border-top: 2px solid #eeee66;
	border-left: 3px solid #eeee66;
	border-bottom: 2px solid #999966;
	border-right: 3px solid #999966;
}
input.button_alert {
	font-size: large;
	font-weight: bold;
	background: #ffaaaa;
	border-top: 2px solid #ee6666;
	border-left: 3px solid #ee6666;
	border-bottom: 2px solid #996666;
	border-right: 3px solid #996666;
}
a.download {
	font-size: small;
	padding: 1px 0.25em;
	background: #ffff99;
	border-top: 1px solid #eeee66;
	border-left: 2px solid #eeee66;
	border-bottom: 1px solid #999966;
	border-right: 2px solid #999966;
	text-decoration: none;
}

tr {
	vertical-align: baseline;
}
td.form_caption {
	text-align: right;
	padding-right: 0.5em;
}
td.error {
	font-weight: bold;
	color: #ff0000;
}
td.form_entry {
	padding-right: 1em;
}
td.form_hint {
	padding-left: 1em;
	font-size: small;
}

div.home_tasks {
	border: 1px solid #eeee66;
}
div.home_tasks div.taskname {
	float: left;
	width: 25%;
	background: #ffffdd;
	padding: 0.5em;
}
div.home_tasks div.taskdetail {
	margin-left: 0.5em;
	padding: 0.5em;
}
div.home_tasks h2 {
	font-size: large;
	margin: 0em;
}

div.home_tasks th {
	text-align: left;
	padding-right: 0.5em;
}

div#home_tasks_chair {
	border-bottom: 0px none;
}

table.memberlist th {
	text-align: left;
	padding-right: 0.5em;
}
td.pc_name, td.pc_email, td.pc_aff, td.pc_chairbox, td.pc_assbox {
	padding-right: 0.5em;
}
tr.removed td {
	text-decoration: line-through;
}
tr.removed td.pc_action {
	text-decoration: none;
}
td.pc_chairbox, td.pc_assbox {
	text-align: center;
}

td.datename, td.datename_error {
	padding-right: 1em;
	font-weight: bold;
}
td.datename_error {
	color: #ff0000;
}
td.datedesc {
	font-size: small;
	padding-left: 2em;
}
table.daterange {
}

input.textlite, textarea.textlite {
	/*border: none;*/
	/*border-bottom: dashed 1px #ddddff;*/
	border: solid 1px #ddddff;
	padding: 0px 4px;
}

div.prevpaperlink {
	float: left;
	margin: 0em;
}
div.nextpaperlink {
	float: right;
	margin: 0em;
}

div.aumg h2 {
	margin-top: 0em;
}

td.pt_caption {
	font-weight: bold;
	padding-right: 0.5em;
}
td.pt_entry textarea, td.form_entry textarea {
	width: 100%;
}
td.pt_hint {
	padding-left: 1em;
	font-size: small;
}
pre.entryexample {
	padding: 0.5em;
	background: #eeeeee;
}

table.topictable {
	padding: 0em;
	border-spacing: 0px;
}
table.topictable tr td {
	padding-right: 2em;
}

tr#topicinterest td.form_caption, tr#topicinterest td.form_hint {
	padding-top: 1.3em;
}
tr#topicinterest td#topicinterest, td#topictable {
	vertical-align: top;
	padding-top: 0px;
}
table.topicinterest {
	vertical-align: baseline;
	padding: 0em;
	border-spacing: 0px;
}
table.topicinterest tr td.ti_interest, table.topicinterest tr th {
	padding-right: 1px;
	white-space: nowrap;
	font-size: small;
	text-align: center;
}
table.topicinterest tr td.ti_topic {
	font-weight: bold;
	padding-right: 0.5em;
}

span.pstat {
	font-weight: bold;
}
span.pstat_with {
	color: #333333;
}
span.pstat_sub {
	color: #007700;
}
